.ServiceInfo {
  background-image: 
    url(../../_media/backgrounds/orange-lines.png),
    url(../../_media/backgrounds/orange.png);
  background-size: 90% 100%, 100% 100%;
  background-repeat: no-repeat;
  height: 763px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin: 5% 0;
}

.ServiceInfo-header {
  padding: 3% 0;
}

.ServiceInfo-options {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .ServiceInfo-options {
    flex-direction: column;
  }
}