.HowItWorks {
  display: flex;
  justify-content: space-between;
}

.HowItWorks-text-wrapper {
  text-align: left;
  padding: 0 0 0 6%;
  width: 30%;
}

.HowItWorks-img-wrapper {
  width: 70%;
}

.HowItWorks-img-wrapper img {
  width: 100%;
}