.Button {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.Button-arrow {
  margin: 8px 0 8px 8px;
}

.primary {
  border-radius: 8px;
  background-color: #B279F1;
  color: #FFFFFF;
  padding: 8px 16px;
  box-shadow: 0px 4px 35px 0px #782DCA26;
}

.secondary {
  padding: 8px 24px;
  background-color: #000;
  color: #FFF;
  border-radius: 4px;
}

.tertiary {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0);
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px 16px;
}