.ServiceDescription {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 3%;
}

.reverse {
  flex-direction: row-reverse;
}

.ServiceDescription-description {
  width: 30%;
  text-align: left;
}

.ServiceDescription-description article {
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .ServiceDescription-description {
    width: 50%;
  }

  .ServiceDescription img {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .ServiceDescription, .reverse {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    align-items: center;
  }

  .ServiceDescription-description {
    width: 95%;
  }
}