.MeetProfessional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MeetProfessional-img-wrapper {
  width: 40%;
}

.MeetProfessional-img-wrapper img {
  width: 100%;
}

.MeetProfessional-text-wrapper {
  width: 35%;
  margin: 0 auto;
  text-align: left;
}

.MeetProfessional-text-wrapper article {
  font-family: Nuckle;
  line-height: 27px;
}

.MeetProfessional button {
  margin: 32px 0;
}