.Hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 0 5% 0;
  animation: slide-up var(--duration) calc(var(--delay) * var(--i)) both;
}

.Hero-img-wrapper {
  width: 30%;
}

.Hero-img-wrapper img {
  width: 100%;
}

.Hero-text-wrapper {
  text-align: left;
  width: 43%;
}

.Hero-text-wrapper p {
  font-size: 18px;
  font-family: Nuckle;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 1px;
}

.Hero-text-wrapper h1 {
  font-size: 72px;
  font-family: 'Nimbus Roman';
  font-weight: 400;
  line-height: 81px;
}

.Hero-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero-link-wrapper .Link {
  width: 30%;
}

.Hero-link-wrapper small {
  font-family: Nuckle;
  margin-left: 24px;
}