.Navbar {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  padding: 8px 32px;
  height: 64px;
  position: relative;
}

.Navbar button {
  position: absolute;
  top: 16px;
  right: 10%;
}

.Navbar-links a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 8px;
}