.Navbar {
  padding: 8px 32px;
  height: 64px;
  position: relative;
}

.Navbar button {
  position: absolute;
  top: 16px;
  right: 5%;
}

.Navbar-links a {
  color: #333333;
  text-decoration: none;
  font-size: 18px;
  font-family: Nuckle;
  font-weight: 700;
  padding: 12px 20px;
  line-height: 16px;
}

.Navbar-links .active {
  color: #D87B41;
}