.CanHelpWith {
  display: flex;
  align-items: center;
  margin: 5% 0;
  animation: slide-up var(--duration) calc(var(--delay) * var(--i)) both;
}

.CanHelpWith-img-wrapper {
  width: 40%;
}

.CanHelpWith-img-wrapper img {
  width: 100%;
}

.CanHelpWith-text-wrapper {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.CanHelpWith-moving-text {
  background: -webkit-linear-gradient(45deg, #A3000E, #FBAD7D);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .CanHelpWith {
    flex-direction: column;
  }

  .CanHelpWith-text-wrapper {
    width: 80%;
  }
}