.CanHelpWith {
  --height: 36px;
  display: flex;
  align-items: center;
  margin: var(--margin) 0;
  animation: slide-up var(--duration) calc(var(--delay) * var(--i)) both;
}

.CanHelpWith-img-wrapper {
  width: 40%;
}

.CanHelpWith-img-wrapper img {
  width: 100%;
}

.CanHelpWith-text-wrapper {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.CanHelpWith-slider-wrapper {
  height: var(--height);
  list-style: none;
  margin-left: -40px;
  line-height: var(--height);
  overflow: hidden;
}

.CanHelpWith-slider-text {
  color: #E35662;
  font-size: calc((var(--height) / 3) * 2);
  margin: 0;
  position: relative;
  top: 0;
  animation: slide 20s steps(4) infinite;
}

.CanHelpWith-slider-text::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  animation: openclose 5s linear infinite;
}

@media (max-width: 900px) {
  .CanHelpWith {
    flex-direction: column-reverse;
  }

  .CanHelpWith-text-wrapper {
    width: 80%;
  }

  .CanHelpWith-img-wrapper {
    width: 95%;

  }
}

@keyframes slide {
  to {
    top: calc((var(--height)) * -4);
  }
}

@keyframes openclose {
  from {
    left: 0;
  }
  20% {
    left: 100%;
  }
  80% {
    left: 100%;
  }
  to {
    left: 0;
  }
}