.Affiliates {
  display: flex;
  align-items: top;
  margin: 10% 5%;
  animation: slide-up var(--duration) calc(var(--delay) * var(--i)) both;
}

.Affiliates-text {
  width: 30%;
  text-align: left;
  padding: 10% 4%;
}

.Affiliates-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.Affiliates-icon {
  padding: 3%;
  width: 20%;
}