.ServiceCard {
  background-color: white;
  border-radius: 10px;
  text-align: left;
  padding: 2% 25px;
  height: 360px;
  width: 250px;
  margin: 10px;
  font-size: 18px;
  font-family: Nuckle;
  font-weight: 550;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 35px 0px #782DCA26;
}

.ServiceCard .Link {
  width: 85%;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .ServiceCard {
    min-width: 250px;
  }
}