.ServiceCard {
  background-color: white;
  border-radius: 10px;
  text-align: left;
  padding: 2% 3%;
  height: 100%;
  width: 20%;
  margin: 10px auto;
  font-size: 18px;
  font-family: Nuckle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ServiceCard button {
  width: 66%;
}

@media (max-width: 900px) {
  .ServiceCard {
    flex-direction: column;
    height: 40%;
    width: 90%;
  }
}