.Question {
  position: relative;
  text-align: left;
  width: 72%;
  margin: 0 auto;
  border-bottom: 1px solid #CFC8D8;
}

.Question:last-child {
  border-bottom: none;
}

.Question-question-wrapper {
  margin: 20px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Question-question-wrapper img {
  width: 25px;
  height: 25px;
}

.Question-question-wrapper h3 {
  margin: 0;
}

.Question-answer {
  width: 75%;
  max-height: 0;
  display: none;
  overflow: hidden;
  animation: close-answer 0.5s ease-in-out;
}

.Question-answer-showing {
  max-height: 1000px;
  display: block;
  animation: open-answer 0.5s ease-in-out;
}

@keyframes close-answer {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
  }
}

@keyframes open-answer {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

@media (max-width: 500px) {
  .Question {
    width: 90%;
  }

  .Question-answer {
    width: 90%;
  }
}