.Methodology {
  margin: 5% 0;
  animation: slide-up var(--duration) calc(var(--delay) * var(--i)) both;
}

.Methodology-methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: top;
  width: 90%;
  margin: 0 auto;
}