:root {
  --duration: 1s;
  --delay: 0.3s;
  --margin: 72px;
}

@font-face {
  font-family: Copernicus;
  src: url('./_fonts/GalaxieCopernicus-Book.ttf');
}

@font-face {
  font-family: IBM Plex Mono;
  src: url('./_fonts/IBMPlexMono-Light.ttf');
}

@font-face {
  font-family: Nuckle;
  src: url('./_fonts/Nuckle-ExtraLight.ttf');
}

@font-face {
  font-family: Proxima Nova;
  src: url('./_fonts/ProximaNova.otf');
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

body {
  margin: 0;
  font-family: Proxima Nova;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}