.MeetProfessional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin) 0;
  animation: slide-up var(--duration) calc(var(--delay) * var(--i)) both;
}

.MeetProfessional-img-wrapper {
  width: 40%;
}

.MeetProfessional-img-wrapper img {
  width: 100%;
}

.MeetProfessional-text-wrapper {
  width: 30%;
  padding: 5%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.MeetProfessional-stars {
  position: absolute;
  right: 0;
  top: 15%;
}

.MeetProfessional-text-wrapper article {
  font-family: Nuckle;
  line-height: 27px;
}

.MeetProfessional .Link {
  margin: 32px 0;
}

@media (max-width: 900px) {
  .MeetProfessional {
    flex-direction: column;
  }

  .MeetProfessional-text-wrapper {
    width: 80%;
  }

  .MeetProfessional-img-wrapper {
    width: 90%;
  }
}