.Footer {
  background-image: 
    url(../_media/backgrounds/black-lines.png),
    url(../_media/backgrounds/black.png);
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  height: 20%;
  display: flex;
}

.Footer-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 50%;
  margin: 3%;
  justify-content: top;
}

.Footer a {
  text-decoration: none;
  color: white;
  font-family: Nuckle;
  font-weight: 600;
  margin: 8px 0;
}